<section class="box features" id="why">
  <div class="inner-container">
    <div class="content">
      <div class="title">
        Why use C3?
      </div>

      <div class="items">

        <div class="item">
          <div class="left">
            <div class="image-container">
              <img class="image" src="/images/flexibility.svg" alt="icon" />
            </div>
          </div>
          <div class="right">
            <h3>Flexibility</h3>
            <p>
            Developers can create dApps using the software languages and tools they know and love
            </p>
          </div>
        </div>

        <div class="item">
          <div class="left">
            <div class="image-container">
              <img class="image" src="/images/interoperability.svg" alt="icon" />
            </div>
          </div>
          <div class="right">
            <h3>Interoperability</h3>
            <p>
C3 functions as a layer 2 solution on multiple blockchains, helping create better dApps for Ethereum, EOS, etc.
            </p>
          </div>
        </div>

        <div class="item">
          <div class="left">
            <div class="image-container">
              <img class="image" src="/images/scalability.svg" alt="icon" />
            </div>
          </div>
          <div class="right">
            <h3>Scalability</h3>
            <p>
Each C3 dApp will operate on its own blockchain to allow to it to run independently of other dApps in the network, increasing throughput
            </p>
          </div>
        </div>

        <div class="item">
          <div class="left">
            <div class="image-container">
              <img class="image" src="/images/censor_resistance.svg" alt="icon" />
            </div>
          </div>
          <div class="right">
            <h3>Censor-resistance</h3>
            <p>
Decentralized, censorship-resistant dApps involving messaging, bulletins, and news are now possible, offering a new world of freedom and potential
            </p>
          </div>
        </div>

        <div class="item">
          <div class="left">
            <div class="image-container">
              <img class="image" src="/images/security.svg" alt="icon" />
            </div>
          </div>
          <div class="right">
            <h3>Security</h3>
            <p>
C3’s Transparency Layer protects the network against bad actors and solves the halting problem
            </p>
          </div>
        </div>

        <div class="item">
          <div class="left">
            <div class="image-container">
              <img class="image" src="/images/complexity.svg" alt="icon" />
            </div>
          </div>
          <div class="right">
            <h3>Complexity</h3>
            <p>
Developers can use popular libraries like Tensorflow or Torch, and can utilize databases like PostgreSQL and MongoDB, and even employ multiple software systems (e.g. an API + a database)
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
