  <footer class="footer">
    <div class="inner-container">
      <div class="copyright">
        <p>© {{ now.Year }} C3 Labs, Inc.</p>
        <p>All rights reserved</p>
      </div>
      <div class="social">
        <a href="https://twitter.com/c3protocol" rel="noopener noreferrer" target="_blank"><i class="fab fa-twitter"></i> Twitter</a>
        <a href="https://t.me/joinchat/AAAAAE9f2oacFkQb_qO5pw" rel="noopener noreferrer" target="_blank"><i class="fab fa-telegram"></i> Telegram</a>
        <a href="https://www.reddit.com/r/c3network/" rel="noopener noreferrer" target="_blank"><i class="fab fa-reddit"></i> Reddit</a>
        <a href="https://www.linkedin.com/company/c3labs/" rel="noopener noreferrer" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a>
        <a href="https://github.com/c3systems" rel="noopener noreferrer" target="_blank"><i class="fab fa-github"></i> Github</a>
        <a href="mailto:hello@c3labs.io" rel="noopener noreferrer" target="_blank"><i class="far fa-envelope"></i> Email</a>
      </div>
    </div>
  </footer>

</body>
</html>