<section class="hero">
  {{ partial "siteheader.html" . }}
  <div class="inner-container">
    <div class="hero-box">
      <div class="title">
        </h1>Create useful dApps in any software language</h1>
      </div>

      <div class="desc">
        <p>With C3 developers can create complex or robust products without having to learn Solidity or use confined systems like EVM or Web Assembly</p>

        <p>The dApp revolution is coming – powered by C3.</p>
      </div>
      <div class="form-container">
        {{ partial "signupform.html" . }}
      </div>
    </div>

    <div class="programming-languages">
      <img class="logos" src="images/programming-logos.svg" alt="programming languages" />
      <p class="more">+more</p>
    </div>
  </div>
  <div class="hero-bg"></div>
</section>
