<header class="header">
  <div class="logo-container">
    <a href="{{ .Site.BaseURL }}"><img class="logo" src="images/c3logo.svg" alt="C3" /></a>
  </div>
  <nav class="nav">
    <a href="#home" rel="noopener noreferrer">Home</a>
    <a href="#why" rel="noopener noreferrer">Why</a>
    <a href="#how" rel="noopener noreferrer">How it works</a>
    <a href="#team" rel="noopener noreferrer">Team</a>
    <a href="#signup" rel="noopener noreferrer" class="signup-link">Sign up</a>
    <a href="https://github.com/c3systems" rel="noopener noreferrer" target="_blank"><i class="fab fa-github"></i> Github</a>
  </nav>
</header>
