  <footer class="footer">
    <div class="inner-container">
      <div class="copyright">
        <p>© {{ now.Year }} Open Network Systems, Inc.</p>
        <p>All rights reserved</p>
      </div>
      <div class="social">
        <a href="https://twitter.com/OpenNetSys" rel="noopener noreferrer" target="_blank"><i class="fab fa-twitter"></i> Twitter</a>
        <!--
        <a href="https://t.me/OpenNetSys" rel="noopener noreferrer" target="_blank"><i class="fab fa-telegram"></i> Telegram</a>
        <a href="https://www.reddit.com/r/OpenNetSys/" rel="noopener noreferrer" target="_blank"><i class="fab fa-reddit"></i> Reddit</a>
        -->
        <a href="https://www.linkedin.com/company/OpenNetSys/" rel="noopener noreferrer" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a>
        <a href="https://github.com/opennetsys" rel="noopener noreferrer" target="_blank"><i class="fab fa-github"></i> Github</a>
        <a href="mailto:info@opennetsys.com" rel="noopener noreferrer" target="_blank"><i class="far fa-envelope"></i> Email</a>
      </div>
    </div>
  </footer>

</body>
</html>