<section class="box how" id="how">
  <div class="inner-container">
    <div class="content">
      <div class="left">
        <h3>How it works</h3>
      </div>
      <div class="right">
        <p>Current blockchain platforms have been built to solve only basic problems using smart contracts – so the underlying protocols can’t create the more advanced utility present in the centralized applications we use today.</p>

        <p>The OpenNetSys platform lowers the barrier for developers to create blockchain-based solutions, while also giving them the ability to create more computationally complex, useful dApps. OpenNetSys is enabling the dApp revolution that everyone has been waiting for – but was impossible until now.</p>
      </div>
    </div>
  </div>
</section>
