<section class="box team" id="team">
  <div class="inner-container">
    <div class="content">
      <h3>Team</h3>

      <div class="team-intro">
        <p>OpenNetSys’s founding team are blockchain developers and strategists that have implemented smart contract technologies for many major companies, including helping implement the first Token Curated Registry (TCR).</p>

        <p>OpenNetSys is based in Los Angeles, CA</p>
      </div>

      <div class="cards">
        <div class="card">
          <div class="image">
            <img src="images/team/adam.svg" alt="photo" />
          </div>
          <h4 class="name">Adam Hanna</h4>
          <div class="title"><strong>Cofounder</strong> - Engineering</div>
          <div class="info">
            6+yr software engineer, former cofounder &amp; CTO at Faze1, former Senior Engineer, CoinCircle, Harvard MBA
          </div>
          <div class="social">
            <a href="https://www.linkedin.com/in/adam-hanna-89188b28" rel="noopener noreferrer" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/adam-hanna" rel="noopener noreferrer" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://stackoverflow.com/users/3512709/adam" rel="noopener noreferrer" target="_blank"><i class="fab fa-stack-overflow"></i></a>
          </div>
        </div>
        <div class="card">
          <div class="image">
            <img src="images/team/miguel.svg" alt="photo" />
          </div>
          <h4 class="name">Miguel Mota</h4>
          <div class="title"><strong>Cofounder</strong> - Engineering</div>
          <div class="info">
            7+yr software engineer with extensive blockchain experience. Former lead engineer at MetaX/AdChain, former Senior Plaftorm Engineer, CoinCircle
          </div>
          <div class="social">
            <a href="https://www.linkedin.com/in/miguelmota" rel="noopener noreferrer" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://twitter.com/miguelmotah" rel="noopener noreferrer" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://github.com/miguelmota" rel="noopener noreferrer" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://stackoverflow.com/users/1439168/miguel-mota" rel="noopener noreferrer" target="_blank"><i class="fab fa-stack-overflow"></i></a>
          </div>
        </div>
        <div class="card">
          <div class="image">
            <img src="images/team/hank.svg" alt="photo" />
          </div>
          <h4 class="name">Hank Leber</h4>
          <div class="title"><strong>Cofounder</strong> - Operations</div>
          <div class="info">
          3x entrepreneur (1 exit), 10yrs digital strategy &amp; growth marketing for global brands (Lexus, Travelocity, Anheuser-Busch), MS Mass Comm VCU Brandcenter
          </div>
          <div class="social">
            <a href="https://www.linkedin.com/in/hankleber" rel="noopener noreferrer" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://twitter.com/hankleber" rel="noopener noreferrer" target="_blank"><i class="fab fa-twitter"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
